* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Haveltica, Sans-serif";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear {
  clear: both;
}
.container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.screen {
  width: 210px;
  margin-top: 330px;
  float: left;
}
.panel{
  width: 385px;
  margin-top: 30px;
  float: right;
}

.display {
  width: 210px;
  position: relative;
}
.button {
  background-color: #ffd500;
  padding-left: 10px;
  padding-bottom: 20px;
  position: relative;
}

.segment {
  height: 125px;
  width: 15px;
  background-color: #990000;
  border-radius: 9999px;
  box-shadow: 0px 0px 25px #990000;
}
.floor {
  width: 150px;
  height: 150px;
  background-image: url(..img/button.png);
  background-size: 100%;
  box-shadow: 0px 0px 20px #191970;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}

.floor p {
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 50px;
}

.A {
  position: absolute;
  top: -45px;
  left: 90px;
  transform: rotate(90deg);
}
.B {
  position: absolute;
  top: 20px;
  left: 160px;
}
.C {
  position: absolute;
  top: 150px;
  left: 160px;
}
.D {
  position: absolute;
  top: 215px;
  left: 90px;
  transform: rotate(90deg);
}
.E {
  position: absolute;
  top: 150px;
  left: 20px;
}
.F {
  position: absolute;
  top: 20px;
  left: 20px;
}
.G {
  position: absolute;
  top: 85px;
  left: 90px;
  transform: rotate(90deg);
}

.ground {

}
.first {

}
.second {

}
.third {

}
.fourth {

}
.fifth {

}
.sixth {

}

.seventh {

}
.eight {

}
.ninth {

}
