* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: "Tahoma";
  font-size: 16px;
}

.clear {
  clear: both;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  padding-top: 20px;
}
.header .navigation {
  margin-top: 30px;
}
.header .navigation ul li {
  float: left;
}
.header .navigation ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
  display: inline-block;
  transition: all 0.5s linear;
}
.header .navigation ul li a:hover {
  color: black;
  background-color: #23FEFF;
}
.content {
  margin-top: 30px;
}
.sidebar {
  width: 280px;
  float: left;
  margin-top: 30px;
  padding: 40px 20px 220px 30px;
  background-color: #EFEFEF;
  border-radius: 10px 0 0 10px;
  background-image: url("../img/sidebar.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
.sidebar .search {
  position: relative;
}
.sidebar .search input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 35px;
  background-color: white;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0.5px 0.5px gray;
}
.sidebar .search button {
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 2;
}

.sidebar .list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}
.sidebar .list h2 {
  font-size: 20px;
}
.sidebar .list ul li {
  margin-top: 10px;
}
.sidebar .list ul li a {
  color: #27AE61;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  background: url("../img/menu.png") no-repeat left center;
  padding-left: 15px;
}
.article {
  width: 660px;
  float: right;
  margin-top: 30px;
  padding: 30px 20px 30px 30px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}
.article h2 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}
.article p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 25px;
  color: #666666;
}
.article img {
  margin-top: 30px;
}
.article a {
  text-decoration: none;
  color: #666666;
}
.article a:hover {
  color: #000000;
  font-weight: bold;
}
.footer {
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  font-size: 12px;
}
.footer p {
  text-align: left;
  font-weight: bold;
  color: white;
}
