* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/body.png");
  background-repeat: repeat-x;
  font-family: "Tahoma";
  font-size: 16px;
}
.clear {
  clear: both;
}
.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}
.header .logo {
  float: left;
}
.header .header-right {
  float: right;
}
.header .header-right .contact {
  background-image: url("../img/tel.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 11px;
}
.header .header-right .contact strong {
  font-weight: bold;
}
.header .header-right .languages {
  float: right;
  margin-top: 20px;
}
.header .header-right .languages ul li {
  float: left;
  margin-left: 5px;
}
.header .header-right .languages ul li:first-child {
  margin-left: 0;
}
.header .navigation {
  width: 100%;
  float: left;
  margin-top: 25px;
  border: 1px solid gray;
}
.header .navigation li {
  float: left;
  border-left: 1px solid gray;
}
.header .navigation li:first-child {
  border-left: 0;
}
.header .navigation li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
}
.header .navigation li a:hover {
  background-color: gray;
  color: white;
}
.content {
  margin-top: 20px;
}
.content .banner {
  border: 1px solid gray;
}
.content .slogan {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}
.content .article {
  margin-top: 20px;
}
.content .article .column {
  width: 300px;
  float: left;
  margin-left: 20px;
}
.content .article .column:first-of-type {
  margin-left: 0;
}
.content .article .column .heading img {
  float: left;
}
.content .article .column .heading p {
  float: left;
  margin-top: 8px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
.content .article .column .metin {
  margin-top: 10px;
  font-size: 11px;
  line-height: 14px;
}
